<br>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label> {{meuButton}} </mat-label>
    <input matInput placeholder="" value="">
  </mat-form-field>

  <br>
  <button mat-button color="primary" class="btn"> {{meuButton}} </button>



  <br>
  <br>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label> {{ meuInput }} </mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>

    <br>

    <button mat-button color="primary" class="btn"> {{meuButton}} </button>

